pkgbase = sangward-bin
	pkgdesc = Fast, native desktop client for self-hosted Bitwarden and Vaultwarden vaults
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/jonjomckay/sangward
	arch = x86_64
	license = GPL-3.0-or-later
	depends = gtk4
	depends = libadwaita
	optdepends = gnome-keyring: store the sign-in token in the system keyring
	optdepends = kwallet: store the sign-in token in KWallet
	optdepends = keepassxc: store the sign-in token in KeePassXC
	optdepends = gnome-shell-extension-appindicator: tray icon on GNOME
	provides = sangward
	conflicts = sangward
	conflicts = sangward-git
	options = !debug
	source = sangward-0.1.1-x86_64-linux.tar.gz::https://github.com/jonjomckay/sangward/releases/download/v0.1.1/sangward-0.1.1-x86_64-linux.tar.gz
	sha256sums = bba0085d38e263440156ad631164d00ceae723d234ed70c4bd9c46ddf4c239cc

pkgname = sangward-bin
